div.p {
	background-color: #000;
	height: 1px;
	border: none;
	width: 502px;
	margin-top: 4px;
	margin-bottom: 4px;
}

canvas#viewport {
	border: 1px solid black;
}

textarea {
	border: 1px solid black;
	width: 249px;
	resize: vertical;
	min-height: 96px;
	max-height: 256px;
	vertical-align: top;
}

p.clue {
	font-family: monospace;
	width: 242px;
	resize: vertical;
	white-space: pre-wrap;
	word-break: break-all;
	vertical-align: top;
	display: inline-block;
	margin: 2px;
	border: 1px solid black;
	padding: 2px;
	
}

p.c {
	text-align: center;
}

form {
	display: inline-block;
	margin: 2px;
}

td {
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	width: 164px;
	height: 32px;
}

table {
	border-collapse: collapse;
}

button {
	border: 1px solid black;
	background-color: #eee;
}

button:hover {
	background-color: #ddd;
}
